/*
	Default theme by @budi
	Project icons were created by Mihaiciuc Bogdan (http://bogo-d.deviantart.com/)
	ChromedCollabs icon by @monika
*/
* {margin:0;padding:0}
body{color:#444;font-family:Helvetica, Arial, sans-serif;font-size:81.3%;padding:5px 10px;background: #eee;min-width:450px;min-height:350px}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/*
 * jQuery UI Tabs @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


h1 {background:url(../ac-chrome-icon-48.png) no-repeat 0 center;padding-left:53px;line-height:48px;font-weight:normal;float:left}
a{text-decoration: none} a:hover {text-decoration: underline}
#optionlink {float: right;margin-top:3px;background: url(icons/options.png) no-repeat center 0;font-size: 0.8em;text-align: center}
#optionlink a {color:#333;padding-top: 32px;display: block}
#project-name {text-decoration: underline;margin:5px 0;padding: 5px 0;border-width: 1px 0;border-style: solid;border-color: #dfdfdf;}

#tabs > .ui-tabs-nav {clear: both;}
#tabs > .ui-tabs-nav:after {display: block;clear: both;overflow: hidden}
#tabs > .ui-tabs-nav li {
	display: block;
	float: left;
	margin-right: 5px;
}
#tabs > .ui-tabs-nav li a {
	display: block;
	color: #333;
	padding: 34px 5px 3px;
	font-size: 0.8em;
	min-width: 32px;
	text-align: center;
	border: 1px dashed #ddd;
	-webkit-border-radius:4px;
	background-position: center 2px;
	background-repeat: no-repeat;
	background-color: #fff;
}
#tabs > .ui-tabs-nav > li.ui-tabs-selected a, #tabs > .ui-tabs-nav > li.ui-state-hover a {
	background-color: #fafddd;
	border: 1px solid #e0de9b;
}
#icon-projects a {background-image:url(icons/projects.png)}
#icon-discussion a {background-image:url(icons/discussion.png)}
#icon-files a {background-image:url(icons/files.png)}
#icon-calendar a {background-image:url(icons/calendar.png)}
#icon-tickets a {background-image:url(icons/tickets.png)}
#icon-time a {background-image:url(icons/time.png)}
#icon-people a {background-image:url(icons/people.png)}
#icon-tasks a {background-image:url(icons/tasks.png)}


.project-list {list-style: none;margin-left: 0}
.project-list li {border-bottom: 1px dashed #ddd;padding: 3px 0}
.project-list li.ui-selectee {cursor: pointer}
.clear {clear:both}